.content {
  // font-family: 'Karla', sans-serif;
  font-size: 12px;
  line-height: 16px;
  h4 {
    font-size: 12px;
        border-bottom: 2px solid black;
            padding: 10px;
              text-align: center;
  }

  .meta {
    // border: 2px solid black;
    // padding: 10px;
  }
}


