.content {
  // font-family: 'Karla', sans-serif;
  font-size: 12px;
  line-height: 16px;
  h4 {
    font-size: 12px;
  }

  .meta {
    background-color: black;
    color:white;
    padding: 10px;
  }
}


