@charset "UTF-8";

// @import '../../bower_components/bootstrap/less/bootstrap.less';
// @import 'variables.less';
@import 'font.less';
@import 'normalize.less';

body {
        filter: blur(0.7px);
  padding: 5vw;

    font-family: 'Roboto', sans-serif;
    &.rtl {
      direction: rtl;
    }
    color: grey;

    background-size: 100%;

    background-image: linear-gradient(-80deg, #2D2938 0%, #29382B 28%, #2B3034 39%, #2B3236 45%, #352B37 80%, #382929 100%);

 //https://www.gradient-animator.com/
 background: linear-gradient(46deg, #331f38, #1f2938, #332929, #2e2e30);
 background-size: 200% 200%;
 -webkit-animation: AnimationName 50s ease infinite;
 -moz-animation: AnimationName 50s ease infinite;
 animation: AnimationName 50s ease infinite;

 @-webkit-keyframes AnimationName {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @-moz-keyframes AnimationName {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @keyframes AnimationName {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
    min-height: 100vh;

    .on {
      // border-bottom: 2px solid yellow;
      // background-color: white;
      // color: black;
      // text-decoration: underline;
      display: inline;
    }
    .off {
      opacity: 0.2;
    }
    a {

      color: yellow;
      text-decoration: none;
      // padding: 1px;
      &:hover, &:active {
        .on();
      }
    }

    font-size: 0.9em;

}
p.text {
  font-family: Spectral;
  line-height: 1.5em;
}
.banner {
  padding: 2vh 0 2vh;
}

.navigation {
  li {
    list-style: none;
    text-transform: lowercase;
  }
}

.home .container {
  // display: flex;
}

.metadatas {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  display: flex;
  // flex-wrap: wrap;
}

.portrait {
  display: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}
.portraits {
  position: fixed;
  bottom: 40px;
  width: 40%;
  left: 50%;
}

.metadata {
  margin: 0 0.5em;

  // &.religionenfance {
  //   flex-grow: 2; /* default 0 */
  // }
  // &.religionpresente {
  //   flex-grow: 2; /* default 0 */
  // }
}.rtl {
    direction: rtl;
}
